[submodule "Android_Me"]
	path = Android_Me
	url = ./Android_Me/
[submodule "AdvancedAndroid_Emojify"]
	path = AdvancedAndroid_Emojify
	url = ./AdvancedAndroid_Emojify
[submodule "AdvancedAndroid_Squawker"]
	path = AdvancedAndroid_Squawker
	url = ./AdvancedAndroid_Squawker/
[submodule "AdvancedAndroid_Shushme"]
	path = AdvancedAndroid_Shushme
	url = ./AdvancedAndroid_Shushme/
[submodule "AdvancedAndroid_ClassicalMusicQuiz"]
	path = AdvancedAndroid_ClassicalMusicQuiz
	url = ./AdvancedAndroid_ClassicalMusicQuiz/
[submodule "AdvancedAndroid_TeaTime"]
	path = AdvancedAndroid_TeaTime
	url = ./AdvancedAndroid_TeaTime/
