[submodule "Android_Me"]
	path = Android_Me
	url = ./Android_Me/
[submodule "AdvancedAndroid_Emojify"]
	path = AdvancedAndroid_Emojify
	url = ./AdvancedAndroid_Emojify
[submodule "AdvancedAndroid_Squawker"]
	path = AdvancedAndroid_Squawker
	url = ./AdvancedAndroid_Squawker/
